@import "node_modules/bootstrap/scss/bootstrap";

.news {
    margin: 10px;    
    border: 1px solid;
}

.news-container {
    margin-top: 50px;

    .news-card {
        width: 300px;
        margin: 10px;
    }
}